* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(1, 22, 36);
}

body {
    background-color: rgb(4, 78, 163);

}

img.lado {
    float: right
}

img.esquerda {
    float: left
}

main {
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.767);
}